.config/nvim/plugged
polybar-themes/
wallpaper/wallpapers-master.tar.gz
HOME/jdv/.oh-my-zsh/.git
HOME/jdv/.oh-my-zsh/*
HOME/jdv/.oh-my-zsh/*.*
usr/share/icons/Dracula/apps/scalable/DBeaver.svg
*.svg
usr/share/icons/*
usr/share/icons/Dracula/apps/scalable/Abricotine.svg
usr/share/icons/Dracula/apps/scalable/DBeaver.svg
usr/share/icons/Dracula/apps/scalable/fedoramediawriter.svg
usr/share/icons/Dracula/apps/scalable/Gnome-Documents.svg
usr/share/icons/Dracula/apps/scalable/gnome-maps.svg
usr/share/icons/Dracula/apps/scalable/Gnome-Photos.svg
usr/share/icons/Dracula/apps/scalable/Grsync.SVG
usr/share/icons/Dracula/apps/scalable/Grsync.svg
usr/share/icons/Dracula/apps/scalable/Kazam.svg
usr/share/icons/Dracula/apps/scalable/Nocturn.svg
usr/share/icons/Dracula/apps/scalable/org.gnome.Software.svg
usr/share/icons/Dracula/apps/scalable/PacketTracer.svg
usr/share/icons/Dracula/apps/scalable/R-linux.svg
usr/share/icons/Dracula/apps/scalable/Thunar.svg
usr/share/icons/Dracula/apps/scalable/UNetbootin.svg
linkFilesLog.txt
.config/powerline-shell/themes/__pycache__/basic.cpython-39.pyc
./.config/nvim/plugged
./.config/coc
.config/coc/snippets-mru
.config/coc/extensions/package.json
.config/coc/extensions/coc-tabnine-data/binaries/.active
.config/coc/extensions/coc-tabnine-data/binaries/3.3.68/x86_64-unknown-linux-musl/bundle.lock
.config/coc/extensions/coc-tabnine-data/binaries/3.3.68/x86_64-unknown-linux-musl/eval
.config/coc/extensions/coc-tabnine-data/binaries/3.3.68/x86_64-unknown-linux-musl/lsp-wrapper
.config/coc/extensions/coc-tabnine-data/binaries/3.3.68/x86_64-unknown-linux-musl/TabNine
.config/coc/extensions/coc-tabnine-data/binaries/3.3.68/x86_64-unknown-linux-musl/TabNine-deep-cloud
.config/coc/extensions/coc-tabnine-data/binaries/3.3.68/x86_64-unknown-linux-musl/TabNine-deep-local
.config/coc/extensions/coc-tabnine-data/binaries/3.3.68/x86_64-unknown-linux-musl/WD-TabNine
.config/coc/extensions/coc-tabnine-data/binaries/3.3.96/x86_64-unknown-linux-musl/bundle.lock
.config/coc/extensions/coc-tabnine-data/binaries/3.3.96/x86_64-unknown-linux-musl/TabNine
.config/coc/extensions/coc-tabnine-data/binaries/3.3.96/x86_64-unknown-linux-musl/TabNine-deep-cloud
.config/coc/extensions/coc-tabnine-data/binaries/3.3.96/x86_64-unknown-linux-musl/TabNine-deep-local
.config/coc/extensions/coc-tabnine-data/binaries/3.3.96/x86_64-unknown-linux-musl/WD-TabNine
.config/coc/extensions/coc-yank-data/yank
.config/coc/extensions/node_modules/coc-tsserver/package-lock.json
.config/coc/extensions/node_modules/coc-tsserver/package.json
.config/coc/extensions/node_modules/coc-tsserver/lib/index.js
.config/coc/extensions/node_modules/coc-tsserver/node_modules/.package-lock.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/package.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/lib.dom.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/lib.es5.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/lib.es2015.proxy.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/lib.es2015.reflect.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/lib.es2020.intl.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/lib.esnext.intl.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/lib.webworker.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/protocol.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/tsc.js
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/tsserver.js
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/tsserverlibrary.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/tsserverlibrary.js
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/typescript.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/typescript.js
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/typescriptServices.d.ts
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/typescriptServices.js
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/typingsInstaller.js
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/de/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/es/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/it/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
.config/coc/extensions/node_modules/coc-tsserver/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
.config/Code/keybindings.json
