.config/nvim/plugged
polybar-themes/
wallpaper/wallpapers-master.tar.gz
HOME/jdv/.oh-my-zsh/.git
HOME/jdv/.oh-my-zsh/*
HOME/jdv/.oh-my-zsh/*.*
usr/share/icons/Dracula/apps/scalable/DBeaver.svg
*.svg
usr/share/icons/*
usr/share/icons/Dracula/apps/scalable/Abricotine.svg
usr/share/icons/Dracula/apps/scalable/DBeaver.svg
usr/share/icons/Dracula/apps/scalable/fedoramediawriter.svg
usr/share/icons/Dracula/apps/scalable/Gnome-Documents.svg
usr/share/icons/Dracula/apps/scalable/gnome-maps.svg
usr/share/icons/Dracula/apps/scalable/Gnome-Photos.svg
usr/share/icons/Dracula/apps/scalable/Grsync.SVG
usr/share/icons/Dracula/apps/scalable/Grsync.svg
usr/share/icons/Dracula/apps/scalable/Kazam.svg
usr/share/icons/Dracula/apps/scalable/Nocturn.svg
usr/share/icons/Dracula/apps/scalable/org.gnome.Software.svg
usr/share/icons/Dracula/apps/scalable/PacketTracer.svg
usr/share/icons/Dracula/apps/scalable/R-linux.svg
usr/share/icons/Dracula/apps/scalable/Thunar.svg
usr/share/icons/Dracula/apps/scalable/UNetbootin.svg
linkFilesLog.txt
